In [4]:
import numpy as np
import pandas as pd


data = {
    "Name": ["abc","xyz","mno"],
    "age":[20,32,19],
    "Phone":[ 8798767898,678787656,1298765434]
}
df = pd.DataFrame(data)

In [5]:
df

  Name  age       Phone
0  abc   20  8798767898
1  xyz   32   678787656
2  mno   19  1298765434